.top-bar, .top-bar ul {
    background-color: $nav-background;
}

.current-page {
    color: white;
}

.top-bar {
    .menu-text {
        color: $nav-text-color;
    }
}

// a:hover {
//     background: blue;
// }

// a:focus{
//     background: red;
// }