.top-bar, .top-bar ul {
    background-color: $nav-background;
}

.current-page {
    color: white;
}

.top-bar {
    .menu-text {
        color: $nav-text-color;
    }
    a {
        -o-transition:.5s;
        -ms-transition:.5s;
        -moz-transition:.5s;
        -webkit-transition:.5s;
        transition:.5s;
      }
      a:hover { 
          background:$light-grey-border; 
        }
}