.callout {
    ul > li {
        list-style: none;
        font-style: italic;
        margin-left: 200px
    }
    .hollow {
        width: 100px;
        margin: 0 auto;
        display: block;
    }
}

